.vfrc-system-response--actions{
    display: block !important;
}
/* .c-fbSqOT {
    display: block !important;
  }
.c-iBVlvN {
display: block !important;
}
 */
  /* close and minimize buttons  */
/*   .c-dxAZjf { */
.vfrc-header--button {
    pointer-events: none !important;
  }

  /* Murrow consulting title */
  .c-c-cXYoYW {
    display: none !important;
  }

  /* today text */
  .c-bbTBUn {}
