/* Base styles */
#voiceflow-chat,
.vfrc-widget,
.vfrc-widget--chat,
.vfrc-chat {
    width: 100%;
    height: 100%;
}

/* Hidden elements */
.vfrc-widget>.vfrc-widget--launcher,
.vfrc-assistant-info--title,
.vfrc-header .vfrc-avatar,
.vfrc-header--button {
    display: none;
}

/* Chat styles */
.vfrc-widget--chat {
    max-height: none;
    box-shadow: 0 2px 60px rgba(19, 33, 68, 0);
    transition: border 0.25s ease-in, box-shadow 0.25s ease-in;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}
.vfrc-widget--chat:hover {
    border-color: rgba(255, 255, 255, 0.2);
}

/* Scrollbar styles */
::-webkit-scrollbar {
    border-left: 1px solid transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(50, 65, 93, 0.54);
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.24);
}

/* Input and Button styles */
.vfrc-message,
.vfrc-input,
.vfrc-chat-input--button,
.vfrc-bubble {
    backdrop-filter: blur(16px) saturate(179%);
    background-color: rgba(139, 139, 139, 0.2);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.24);
    color: rgba(255, 255, 255, 0.81);
}

.vfrc-button--secondary {
    border: 1px solid #ffffff54;
    color: #ffffffe0;
    background-color: #0e7aed54;
    box-shadow: 0 1px 2px var(--shadows-shadow2);
    transition: border-color 150ms ease 0s;
}
.vfrc-button--secondary:hover {
    border-color: #dce0e5;
}

/* Media queries */
@media (max-width: 1680px) {
    .vfrc-widget { padding: 0 10%; }
}

@media (max-width: 600px) {
    .vfrc-widget { padding: 0 2%; }
    #voiceflow-chat { height: 70vh; }
}
